{extend name="template/base" /}
{block name="title"}我的桌面{/block}
{block name="content"}
<div class="page-container">
    <p class="f-20 text-success">欢迎使用 {$Think.config.site.name} <span class="f-14">{$Think.config.site.version}</span> 后台管理系统！</p>
    <p>登录次数：{$info.login_count} </p>
    {if condition="session('last_login_time')"}
    <p>上次登录IP：{$last_login_ip} &nbsp;&nbsp;&nbsp; 上次登录时间：{$Think.session.last_login_time|date='Y-m-d H:i:s',###} &nbsp;&nbsp;&nbsp; 上次登录地点：{$last_login_loc}</p>
    {/if}
    <p>本次登录IP：{$current_login_ip} &nbsp;&nbsp;&nbsp; 本次登录时间：{$info.last_login_time|date='Y-m-d H:i:s',###} &nbsp;&nbsp;&nbsp; 本次登录地点：{$current_login_loc}</p>
    <div class="view-body think-editor-content">


    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th colspan="7" scope="col">信息统计</th>
        </tr>
        <tr class="text-c">
            <th>统计</th>
            <th>资讯库</th>
            <th>图片库</th>
            <th>产品库</th>
            <th>用户</th>
            <th>管理员</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <td>总数</td>
            <td>92</td>
            <td>9</td>
            <td>0</td>
            <td>8</td>
            <td>20</td>
        </tr>
        <tr class="text-c">
            <td>今日</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr class="text-c">
            <td>昨日</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr class="text-c">
            <td>本周</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr class="text-c">
            <td>本月</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-border table-bordered table-bg mt-20">
        <thead>
        <tr>
            <th colspan="2" scope="col">服务器信息</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th width="30%">服务器计算机名</th>
            <td><span id="lbServerName">{$PC_Name}</span></td>
        </tr>
        <tr>
            <td>服务器IP地址</td>
            <td>{$server_ip}</td>
        </tr>
        <tr>
            <td>服务器端口</td>
            <td>{$port}</td>
        </tr>
        <tr>
            <td>服务器软件信息</td>
            <td>{$software}</td>
        </tr>
        <tr>
            <td>服务器操作系统</td>
            <td>{$serverinfo}</td>
        </tr>
        <tr>
            <td>服务器脚本超时时间</td>
            <td>{$time_l}</td>
        </tr>
        <tr>
            <td>服务器脚本运行最大占用内存</td>
            <td>{$max_mem}</td>
        </tr>
        <tr>
            <td>服务器的语言种类</td>
            <td>{$lang}</td>
        </tr>
        <tr>
            <td>服务器当前时间</td>
            <td>{$bj_time}</td>
        </tr>
        <tr>
            <td>服务器上次启动到现在已运行</td>
            <td>7210分钟</td>
        </tr>
        <tr>
            <td>磁盘剩余空间</td>
            <td>{$diskfree}</td>
        </tr>
        <tr>
            <td>CPU 总数</td>
            <td>4</td>
        </tr>
        <tr>
            <td>CPU 类型</td>
            <td>x86 Family 6 Model 42 Stepping 1, GenuineIntel</td>
        </tr>
        <tr>
            <td>虚拟内存</td>
            <td>52480M</td>
        </tr>
        <tr>
            <td>当前程序占用内存</td>
            <td>3.29M</td>
        </tr>
        <tr>
            <td>当前Session数量</td>
            <td>8</td>
        </tr>
        <tr>
            <td>当前SessionID</td>
            <td>gznhpwmp34004345jz2q3l45</td>
        </tr>
        <tr>
            <td>当前系统用户名</td>
            <td>NETWORK SERVICE</td>
        </tr>
        </tbody>
    </table>
</div>
<footer class="footer mt-20">
    <div class="container">
        <p></p>
        <p>
            Copyright &copy;2016 {$Think.config.site.name} {$Think.config.site.version} All Rights Reserved.<br>
            本后台系统由<a href="#" rel="nofollow" title="xhY">xh Yang</a>提供前端技术支持</p>
    </div>
</footer>
{/block}